html {
  background-color: $backgroundColor;
  //background-image: linear-gradient(to bottom, lighten($primaryColor, 55%) 0%, lighten($primaryColor, 30%) 100%); /* for the body */
  //background-position: center center ;
}

body {

  background-color: $backgroundColor;
  color: $textColor;
  overflow: hidden;
  font-family: "Roboto", "Helvetica", "Lucida Grande", "Calibri", "Arial", sans-serif;

  @media (max-width: $screen-sm) {
    overflow: scroll;
    overflow-x: hidden;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }

}

.app {
  display: flex;
  min-height: 100vh;

}

.app-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }
}

.app-content {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
  height: auto;
  z-index: 2;
  position: relative;
  background: rgba($backgroundColor, 0.5);
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;

  @media (max-width: $screen-sm) {
    overflow: visible;
    padding-top: 55px;
    background: none;
  }

  > .app-content-main {
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 1;

    display: flex;
    min-height: 100vh;
    flex-direction: column;

    > .row {
      margin: 0;
    }

    @media (max-width: $screen-sm) {
      padding-bottom: 55px;
    }
  }
}

.app-nav {
  order: -1;
  height: 100%;
  z-index: 4;
  width: 80px;
  background: $backgroundSecondaryColor;

  @media (min-width: $screen-lg) {
    width: 100px;
  }
}

.app-player {
  height: 100%;
  z-index: 4;
  position: relative;
  width: 260px;
  background: $backgroundSecondaryColor;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  @media (min-width: $screen-lg) {
    width: 330px;

  }

  .player-container {
    flex-direction: column;
    height: 100%;
    display: flex;

    @media (max-width: $screen-sm) {
      height: auto;
      width: 100%;
    }

  }

  &.karaoke-on {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: row;

    @media (max-width: $screen-sm) {
      flex-direction: column;
      height: 100%;
    }

    .karaoke-container {
      flex: 1;
      height: 100%;
    }

    .player-container {
      width: 260px;

      @media (max-width: $screen-sm) {
        width: 100%;
      }

      @media (min-width: $screen-lg) {
        width: 330px;
      }

    }
  }

}